
/* Hide up and down arrows for number inputs in most browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide up and down arrows for number inputs in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}