.custom-thead {
  background-color: #f2f2f2 !important;
}

.pagination .page-link {
  border: none;
  background: none;
  color:black
}

.pagination .active .page-link {
  font-weight: bold;
  background-color: #2199e8;
  color: #ffff;
}

