

* {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
}

label.form-label {
  font-size: 14px !important;
  color: #a7b2ca;
}

::placeholder {
  color: #99a3ad !important;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #99a3ad;
}

/* When nothing is selected (empty value) */
.placeholder-select {
  color: #99a3ad !important; /* Same as other placeholder text */
}

/* Normal options (after selecting) */
.placeholder-select option {
  color: #000; /* Normal black text for selected values */
}

/* Placeholder */
.placeholder-select {
  color: #99a3ad !important;
}

/* Options inside dropdown */
.placeholder-select option,
.form-select option {
  color: #99a3ad;   /* All dropdown options in grey */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
